.bg-1{
  background: var(--gradient-color-1);
  background: linear-gradient(to right, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%)
}

.hover-b-mc{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover{
    border-color: var(--main-color)
  }
}
@media print{
  nav, footer, .comment{
    display: none !important
  }
  @page{
    margin: 0
  }
  body{
    margin: 1cm
  }
}
/* emoji / ascii icons */
.ec{
  -moz-osx-font-smoothing: grayscale;
  filter: sepia(90%);

  &.ec-mono{
    color: transparent;
    text-shadow: 0 0 0 var(--main-color);
    filter: none
  }
}