$main-color = convert(hexo-config("main-color"))

$gradient-color-1 = convert(hexo-config("gradient-color-1"))
$gradient-color-2 = convert(hexo-config("gradient-color-2"))

@import "partial/_tachyons.css"
@import "partial/_icons.styl"

@import "partial/_base.styl"
@import "partial/_content.styl"
@import "partial/_highlight.styl"