$main-color = #a62
$gradient-color-1 = #f95
$gradient-color-2 = #e83

@import "partial/_tachyons.css"
@import "partial/_icons.styl"

@import "partial/_base.styl"
@import "partial/_content.styl"
@import "partial/_highlight.styl"