@import "partial/_tachyons.css";
@import "partial/_icons.css";

@import "partial/_base.css";
@import "partial/_content.css";
@import "partial/_highlight.css";

:root {
    --main-color: #a62;
    --gradient-color-1: #f95;
    --gradient-color-2: #e83;
}