<!-- Banner -->
<header class="w-100 bg-1 ph5-ns ph3 text-light">

    <nav class="db w-100 mw8 center border-box pv3">
        <div class="db v-mid w-100 tc tr-ns">
            <% var menu = (theme.menu || config.menu) %>
            <% for (var i in menu) { %>
                <a class="link dim f6 f5-l dib mr3 mr4-l white" 
                    href="<%- url_for(menu[i]) %>">
                    <%= i %>
                </a>
            <% } %>
        </div>
    </nav>

    <div class="w-100 tc db dt-ns">
        <!-- Title -->
        <div class="dib dtc-ns w-90-ns white">
            <h1 class="f1-ns tc tc-ns tl-ns"><%- mainText %></h1>
        </div>
        <!-- Icon -->
        <div class="dib dtc-ns w-10-ns f1 f-5-ns f-6-l mb2">
            <span class="ec"><%- icon %></span>
        </div>
    </div>
    
</header>
