<!-- Banner -->
<header class="w-100 bg-1 ph5-ns ph3 text-light">
    
    <nav class="db dt-l w-100 mw8 center border-box pv3">
        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
            <% var menu = (theme.menu || config.menu) %>
            <% for (var i in menu) { %>
                <a class="link dim f6 f5-l dib mr3 mr4-l white" 
                    href="<%- url_for(menu[i]) %>">
                    <%= i %>
                </a>
            <% } %>
        </div>
    </nav>

    <!-- Title -->
    <div class="w-100 mw8 center dt pr7p-l">
        <div class="dtc v-mid white">
            <h1 class="f1-l f2-m tc tc-m tl-ns"><%- mainText %></h1>
        </div>
    </div>

    <!-- Icon -->
    <div class="relative w-100 mw8 center dn dn-m db-ns">
        <span class="absolute right-2 bottom-0 ma1 f-6 ec"><%- icon %></span>
    </div>
</header>
